* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.navbar,
main {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

main img {
    width: 100%;
    justify-content: center;
}

ul {
    list-style-type: none;
}

header .container {
    background-color: black;
    padding: 18px;
    display: flex;
    justify-content:space-evenly;

}

h1 {
    color:white
}

h2 {
    margin-top: 50px;
    margin-bottom: 22px;
}

#subtitle {
    color: red;
}

.testimonialsList {
    background-color: rgb(128, 128, 128, 0.1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.testimonialsList p {
    margin: 0 px;
}

.testimonialsList li {
    padding: 10px;
    margin-inline: 10px;
    margin-top: 10px;
}

.testimonialUser {
    font-weight: 600;
}

.testimonialText {
    font-size: large;
}

.testimonialsList img {
    max-width: 100px;
}

#testimonialsHeader {
    background-color;
    display: block;
}

.navbar ul {
    background-color: brown;
    padding: 0px;
    margin: 0px;
    overflow: hidden; /* Auxilia a .navbar li */
    display: flex;
    justify-content:space-around;
    
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    font-weight: bold;
} 

/* Para tornar a navbar horizontal */

.navbar li {
    float: left;
    width: auto;

} 

main .container {
    display: inline;
}

.formContact {
    display:inline-block;
}

#about p {
    margin-top: 20px;
}









/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 25px 25px ;
    background-color: black;
    display: flex;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header h1 {
    font-family: "Abril Fatface", serif;
    font-size: 50px;
    color:white
}

header h6 {
    font-family: "Baskerville";
    font-size: 20px;
    font-weight:bold;
    color:red
     
}

header nav li a {
    text-decoration: none;
    color: white;
    font-family: Helvetica, arial, sans-serif;
    display: inline;

}

.menu nav ul li{
    display: inline;
    justify-content:center;
}



#about {
    margin-top: 16px;
    display: flex;
}

#about p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2 {
    font-family: Baskerville;
}

p {
}
*/