* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.navbar,
main,
footer {
    max-width: 666px;
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
}

main img {
    width: 100%;
    justify-content: center;
}

ul {
    list-style-type: none;
}

header .container {
    background-color: black;
    padding: 18px;
    display: flex;
    justify-content:space-evenly;

}

h1 {
    font-family: "Abril Fatface";
    color:white;
    font-weight: normal;
    font-size: 66.6px;
    
}

h2 {
    margin-top: 50px;
    margin-bottom: 22px;
    background-color: brown;
    color: white;
    padding: 10px;
}

#subtitle {
    color: red;
    font-family: "Baskerville";
    font-style: oblique;
    text-align: center;
    font-size: large;
}

.testimonialsList {
    background-color: rgba(128, 128, 128, 0.1);
    width: 51.38%;
    /* margin-left: auto;
    margin-right: auto; */
}

.testimonialsList p {
    margin: 0 px;
    
}

.testimonialsList li {
    padding: 10px;
    margin-inline: 10px;
    margin-top: 10px;
}

.testimonialUser {
    font-weight: 600;
}

.testimonialText {
    font-size: large;
}

.testimonialsList img {
    max-width: 100px;
}

#testimonialsHeader {
    background-color;
    display: block;
}

.navbar ul {
    background-color: brown;
    padding: 0px;
    margin: 0px;
    overflow: hidden; /* Auxilia a .navbar li */
    display: flex;
    justify-content:space-around;
    
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    font-weight: bold;
} 

/* Para tornar a navbar horizontal */

.navbar li {
    float: left;
    width: auto;

} 

main .container {
    display: inline;
}

.formContact {
    display:inline-block;
}

#about p,
#openingTestimonials,
#contact p,
footer .container {
    margin-top: 20px;
    font-family: Helvetica, sans-serif
} 

#contactForm {
    border: 2px solid white;
    border-radius: 5px;
    padding: 30px;
    width: fit-content;
    background-color: rgba(128, 128, 128, 0.1);
}

form input,
form textarea,
form button,
form select{
    display:block;
    width: 256px;
    margin-bottom: 20px;
    padding: 8px;
    
}

form textarea {
    resize: none;
    height: 138px;
}

form select {
    width: 70px;
}

form button:hover {
    background-color: rgba(0, 0, 0, 0.138);
    cursor: pointer;

}

footer div{
    background-color: black;
    color: red;
    text-align: center;
    font-size: small;
    
}

#contact {
    padding-bottom: 30px;
}

#firstP,
#secondP,
#openingTestimonials,
#contact {
    margin-left: 20px;
    margin-right: 20px;
}

#openingTestimonials {
    padding-bottom: 10px;
}